<div class="wall"></div>
<ol class="breadcrumb container">
  <li class="active">
    <strong>공지사항</strong><br>
    네자리내자리는 회원가입 신청을 받은 후, 관리자가 회원등록을 해주어야 이용할 수 있는 서비스입니다.<br>
    각 란의 양식에 맞추어 입력해주시고, 가입을 신청해 주세요.<br><br>

    신청 후 관리자의 가입승인처리를 통하여 서비스를 이용하실 수 있습니다.<br>

  </li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
    <%= simple_form_for @tempuser, :url => tempusers_create_path do |f| %>
    <%= f.input :name, required: true, autofocus: true, label: "이름" %>
    <%= f.input :stuN, required: true, label: "학번", placeholder: '2013101234'%>
    <%= f.input :major, required: true, as: :radio_buttons, :collection => [ "응용화학과", "응용물리학과", "응용수학과", "우주과학과", "산업경영공학과", "전자공학과", "컴퓨터공학과", "생체의공학과", "소프트웨어융합학과" ], label: "학과"%>
    <%= f.input :identity, required: true, as: :radio_buttons, :collection => [[ "학부생", "1"], ["대학원생","2"], ["교수","3"]],  label: "권한"%>
    <%= f.input :feeOfSch, required: true, as: :radio_buttons, :collection => [[ "납부", true], ["미납",false]],  label: "학생회비 납부여부"%>
    <small>*미납부자일 경우 가입신청이 제한되어 서비스이용에 제한이 있을 수 있습니다.</small><br/>
    <%= f.button :submit, value: "가입신청하기" %>
    <% end %>
  </div>
  </div>
  <div class="wall"></div>
</div>
